<%- include('../partials/header.ejs') %>

<form action="/games/<%= game._id %>/test" method="post">
    <%  %>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Default radio
        </label>
    </div>
</form>

<%- include('../partials/footer.ejs') %>